@use './mixins' as *;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--color-text-main);
  background-color: var(--color-bg-main);

  --color-bg-main: #d7d7d7;
  --color-text-main: black;
  --color-primary: #3fa7ff;
  --color-secondary: #3fa7ff7d;
  --color-disabled-bg: #444c56;
  --color-disabled-text: #b0bec5;
  --color-border: #ddd;
  --color-red: #bf0019;
  --color-header-bg: rgba(0, 0, 0, 0.8);
  --color-black: black;
  --color-white: white;
}

body {
  display: block;
  margin: 0;
}

#app {
  display: grid;
  box-sizing: border-box;
  grid-template: 'header' 8vh 'main' 92vh / 100%;

  header {
    grid-area: header;
    background-color: var(--color-primary);
  }
  main {
    grid-area: main;
  }
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.2em;
  line-height: 1.15;
}

h3 {
  font-size: 1.3em;
  line-height: 1.2;
}

h4 {
  font-size: 0.9em;
  line-height: 1.25;
}

a {
  color: var(--color-black);
  text-decoration: none;
}
button {
  border: 1px solid --color-primary;
  background: transparent;
  text-transform: uppercase;
  padding: 1vw 1vh;
  border-radius: 8px;
  color: #fff;
  font-size: 0.8rem;
  width: 20vw;
  font-weight: 600;
  cursor: pointer;
  transition:
    background 0.2s,
    box-shadow 0.2s,
    transform 0.1s;
  letter-spacing: 0.5px;
  &:hover:not(:disabled) {
    background: --color-primary;
    transform: translateY(-2px) scale(1.03);
  }
  &:disabled {
    background: --color-disabled-bg;
    color: --color-disabled-text;
    border: none;
    cursor: not-allowed;
  }
}
.center {
  @include d-flex(column, center, center, 12px);
  width: 100%;
  height: 100%;
}
.loading {
  width: 60px;
  height: auto;
}
